<!DOCTYPE html>
<html class="h-full">
  <head>
    <title>HandsOffErrorHandling</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application' %>

    <script src="https://kit.fontawesome.com/b8e94b7aaa.js" crossorigin="anonymous"></script>

    <%= yield :meta_tags %>
  </head>

  <body
    class="snow-falling bg-blue-200 h-full"
    data-controller="errors page-renderer"
    data-action="ajax:error->errors#showError"
    >
    <div data-page-renderer-target="page" class="w-full h-full flex">
      <%= render "ui/alert" %>
      <%= yield %>
    </div>
  </body>
</html>
