<!DOCTYPE html>
<html class="h-full">
  <head>
    <title>HandsOffErrorHandling</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application' %>
  </head>

  <body 
    class="snow-falling bg-blue-200 h-full"
    data-controller="errors page-renderer" 
    data-action="ajax:error->errors#showError"
    >
    <div data-page-renderer-target="page" class="w-full h-full flex">
      <div 
        class="fixed top-0 left-0 p-4 w-full bg-red-600 text-white text-center <%= 'hidden' unless content_for(:alert) %>"
        data-errors-target="alert"
        >
        <%= content_for :alert %>
      </div>

      <%= yield %>
    </div>
  </body>
</html>
